[submodule "utilities/extlib/drv_invimu"]
	path = utilities/extlib/drv_invimu
	url = https://github.com/CkovMk/drv_invimu.git
[submodule "utilities/extlib/mlib"]
	path = utilities/extlib/mlib
	url = https://github.com/P-p-H-d/mlib.git
[submodule "utilities/extlib/TextMenu"]
	path = utilities/extlib/TextMenu
	url = https://github.com/CkovMk/TextMenu.git
[submodule "utilities/extlib/letter-shell"]
	path = utilities/extlib/letter-shell
	url = https://github.com/NevermindZZT/letter-shell.git
[submodule "utilities/extlib/CmBacktrace"]
	path = utilities/extlib/CmBacktrace
	url = https://github.com/armink/CmBacktrace.git
